@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.wrapper {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    margin: 40px 20px 60px 60px ;
}

.content {
    display: flex;
    justify-content: space-around;
}

.page-name {
    display: block;
    width: available;
    font-size: 20px;
    margin-bottom: 35px;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-right: 60px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px 8px rgba(0, 0, 0, 0.08);
    padding: 26px 26px 0 26px;
}

.user-wrapper:first-child {
    width: 700px;
}

.user-wrapper-title {
    font-size: 18px;
    margin-bottom: 38px;
}

.user-profile-image {
    display: block;
    width: 170px;
    height: 170px;
    align-self: center;
    margin-bottom: 34px;
}

.user-profile-image img{
    display: block;
    width: 170px;
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}

.user-profile-profile {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px 0 8px;
    margin-bottom: 25px;
}

.user-profile-btn {
    display: flex;
    height: 57px;
    align-items: center;
    justify-content: center;
    background: #0971AC;
    border-radius: 15px;
    color: white;
    margin-bottom: 25px;
}
.user-games-btn {
    display: flex;
    height: 57px;
    align-items: center;
    justify-content: center;
    background: #0971AC;
    border-radius: 15px;
    color: white;
    margin-bottom: 25px;
    margin-top: 50px;
}

.user-games-btn a {
    color: white;
    text-decoration: none;

}

.user-stages-wrapper {
    display: flex;
    width: 256px;
    align-items: center;
    flex-direction: column;
}

.teacher-stages-wrapper {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
}

.user-games-games {
    display: flex;
    overflow: hidden;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-around;
    height: 57px;
    align-items: center;
    background: rgba(246, 165, 0, 1);
    border-radius: 15px;
    color: white;
    margin-bottom: 25px;
}

.user-games-games-name {
    display: flex;
    flex-direction: row;
}

.teacher-games-games-name {
    display: flex;
    flex-direction: row;
}

.user-games-games-progress-list {
    position: relative;
    display: flex;
    cursor: pointer;
}

.teacher-games-games-progress-list {
    position: relative;
    display: flex;
    cursor: pointer;
}

.user-games-games-progress {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 35px;
}

.teacher-games-games-progress {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 35px;
}

.user-games-games-progress ul{
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 35px;
}

.teacher-games-games-progress ul{
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 35px;
}

.user-games-games-progress li a {
    text-decoration: none;
}

.teacher-games-games-progress li a {
    text-decoration: none;
}

.user-games-games-progress-list:focus ~ .user-games-games-progress,
.user-games-games-progress-list:active ~ .user-games-games-progress,
.user-games-games-progress:hover {
    display:block;
    flex-direction: column;
    width: 256px;
    background: #F6A500;
    border: 1px solid #5A5656;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
}

.teacher-games-games-progress-list:focus ~ .teacher-games-games-progress,
.teacher-games-games-progress-list:active ~ .teacher-games-games-progress,
.teacher-games-games-progress:hover {
    display:block;
    flex-direction: column;
    width: fit-content;
    background: #F6A500;
    border: 1px solid #5A5656;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
}

.user-games-games-progress-stage {
    float:none;
    position: relative;
    text-align: center;
    padding: 15px 0 15px 0;
    min-width:170px;
    border-top: 1px solid #5A5656;
}

.user-games-games-progress-stage li a {
    text-decoration: none;
}

.user-games-games-progress-stage:first-child {
    border-top: none;
}

.teacher-games-games-progress-stage-team {
    float:none;
    position: relative;
    text-align: center;
    padding: 15px 0 15px 0;
    min-width:170px;
    border-top: 1px solid #5A5656;
}

.teacher-games-games-progress-stage-team a {
    text-decoration: none;
    color: white;
}

.teacher-games-games-progress-stage-team:first-child {
    border-top: none;
}

.admin-edit-stage-wrapper {
    display: flex;
    flex-direction: row;
}

.admin-edit-stage-wrapper-btn {
    display: flex;
    width: -webkit-fill-available;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgba(246, 165, 0, 1);
    border-radius: 15px;
    padding: 12px 25px 12px 25px;
    margin: 0 15px 15px 0;
}

.admin-edit-stage-wrapper-btn:last-child {
    margin-right: 0;
}

.admin-edit-stage-wrapper-btn a {
    text-decoration: none;
    color: white;
}




