@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.header-background {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    height: 85px;
    background-color: rgba(31, 69, 106, 1);
    box-shadow: 0px 5px 25px 8px rgba(0, 0, 0, 0.08);
}

.logo-img-small {
    display: block;
    width: 357px;
    height: 75px;
    background-image: url("../img/logos/logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.user-name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: fit-content;
    background-color: rgba(246, 165, 0, 1);
    border-radius: 15px;
    margin-right: 2px;
    padding: 0 15px 0 15px;
}

.log-out {
    display: block;
    height: 50px;
    width: 45px;
    background-color: rgba(246, 165, 0, 1);
    border-radius: 15px;
    background-image: url("../img/logos/logout.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 85px;
    background-color: rgba(31, 69, 106, 1);
    margin-top: 60px;
    box-shadow: 0px -5px 25px 8px rgba(0, 0, 0, 0.08);
}















