.team-name {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: -webkit-fill-available;
    height: 32px;
    margin-bottom: 40px;
}

.teacher-characteristics {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    height: 40px;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 0 10px 0 10px;
}

.teacher-question-free-answers {
    font-size: 17px;
    padding-left: 15px;
    color: rgba(80, 80, 80, 1);
}

.teacher-question-test-answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
}

.teacher-question-test-answer {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #1F456A;
    border-radius: 25px;
    color: white;
    padding: 12px 25px 12px 25px;
    margin: 0 15px 15px 0;
}
